# dependencies
/node_modules

# Next.js build output
/.next/
/out/

# production
/build

# env files (local overrides)
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# misc
.DS_Store
*.pem
npm-debug.log*
